<section class="section">
  


<div class="sidebar">
      <a class="active" href="/dashboardbuzz">Dashboard</a>

      <a href="/dashboard/gamefilter">Game Filter</a>
      <a href="/users/logout" >Logout</a>
    </div>
    

    <div class="content" id="printableArea">
      <% if(heading=="undefined") { %>
            <h1 class="heading">All games</h1>
      <% } else { %>
            <h1 class="heading"><%=heading%></h1>

      <% } %>
          
<div class="dropdown">
  <button id="my-dropdown" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select game</button>
  <div class="dropdown-menu" aria-labelledby="my-dropdown" style="height:500px;overflow-y: scroll ;">

      <% for(var i =0 ; i< gamenames.length;i++){ %>
         <a class="dropdown-item " href='/games?gamename=<%=gamenames[i]%>'><%=gamenames[i]%></a>
       <% } %>

  </div>
  <input type="button" class="btn btn-danger" onclick="printDiv('printableArea')" value="Print Details" />
</div><br>
      <table class="table table-striped table-responsive table-bordered table-dark" border="1" cellspacing="0"  >
                  <thead>
                    <tr>
                      <th>Sno</th>
                      <th>Name</th>
                      <th>Gender</th>
                      <th>Email</th>
                      <th>Programme</th>
                      <th>Course</th>
                      <th>Section</th>
                      <th>Year</th>
                      <th>Phone</th>
                      <th>Experience</th>
                    </tr>
                  </thead>
                  <tbody>
                              <% for(var i =0 ; i< events.length;i++){ %>
                    <tr>
                      <td><%= i+1 %></td> 
                      <td><%= events[i]["name"]%></td>
                      <td><%= events[i]["gender"]%></td>
                      <td><%= events[i]["email"]%></td>
                      <td><%= events[i]["prog"]%></td>
                      <td><%= events[i]["course"]%></td>
                      <td><%= events[i]["section"]%></td>
                      <td><%= events[i]["year"]%></td>
                      <td><%= events[i]["phone"]%></td>
                      <td><%= events[i]["experience"]%></td>
                      <% } %>
                    </tr>
                  </tbody>
                  </table> 
</div>
</section>
